header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  padding: 10px 0px 0px 0px;
}

.navbarcontainer {
  display: flex;
  max-width: 960px;
  margin: auto;
  width: 100%;
}
.navbar-nav .nav-item .active {
  background-color: white;
  font-weight: 600;
  color: var(--blue-dark);
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0;
  padding: 10px 8px 8px 8px;
}
.navbar-nav {
  gap: 15px;
}
.navbar-nav .nav-item a {
  color: white;
  font-size: 14px;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
}

.locationorblog a {
  font-size: 12px;
}

.main_nav {
  background-color: var(--blue-dark);
  border-top: 1px solid #ccc;
}

.main_nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main_nav_ul ul {
  list-style-type: none;
  margin-bottom: 0;
}

.main_nav_ul ul {
  text-align: center;
}
.main_nav_ul ul li {
  border-left: 1px solid #395477;
  padding: 2px 15px 0px 15px;
  border-right: 1px solid #395477;
}

.main_nav_ul ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
}

.navbarBottom {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.aplynow {
  padding: 6px 12px;
  border-radius: 13px;
  background-color: #1d86ff;
  margin-top: 1px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.searchField input {
  width: 215px;
}
.searchField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar-toggler{
  border: none;
  font-size: 20px;
  padding: 0;
  color: white;
}
.navbar-toggler p{
  margin: 0;
  font-size: 10px;
}

.navbar-toggler:focus{
  box-shadow: none;
  border: none;
}

/* Sidebar Styles */
.custom-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 330px;
  height: 100%;
  background-color: #55789f;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1050;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

.custom-sidebar.open {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.close-sidebar {
  background: none;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
  color: white;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  padding: 10px 20px;
  border-top: 2px solid #486d99;
  border-bottom: 2px solid #486d99;
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}
.sidebar-nav li img {
  width: 30px;
  object-fit: contain;
}

.sidebar-nav li a {
  color: white;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: white;
}

.custom-navbar-toggler{
  border: none;
  background-color: transparent;
  color: white;
}
.custom-navbar-toggler p{
  margin: 0;
  font-size: 12px;
}

.location_blog{
  padding: 1rem;
  justify-content: end;
  gap: 20px;
  display: flex;
}

.responsive_que{
  object-fit: cover;
  display: none;
}

/* Hide original toggle in desktop */
@media (min-width: 992px) {
  .custom-navbar-toggler {
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  .responsive_que{
    display: block;
  }
  
  nav {
    padding: 0px;
  }
  .navbar{
    padding: 3px;
  }

  .main_nav {
    display: none;
  }
  .footer_main,
  .navbarBottom {
    max-width: 100%;
  }
  .navbarcontainer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0rem 1rem 0rem 1rem;
    gap: 20px;
    align-items: center;
  }
  .hdfcBankLogo{
    margin-right: 3rem;
  }
}
